ion-avatar {
    margin-left: 30%;
    width: 120px !important;
    height: 120px !important;
    max-width: 120px;
    max-height: 120px;
}

ion-chip {
    width: 110px !important;
    height: 30px !important;
}

ion-item-divider {
    height: 30px !important;
}